.wrapper-calidad {
    font-size: 19px;
    line-height: 28px;
    color: #595959;
    font-family: 'Titillium Web', sans-serif;
}
.wrapper-calidad + .wrapper-calidad {
    background-color: #fbfbfb;
}
.wrapper-calidad .title {
    font-size: 35px;
    line-height: 42px;
    font-weight: 600;
    color: #595959;
    font-family: 'Titillium Web', sans-serif;
}
.wrapper-calidad .frase {
    font-size: 25px;
    line-height: 33px;
    font-family: 'Titillium Web', sans-serif;
    color: #009AD6;
}
.wrapper-calidad .title + .title {
    font-size: 15px;
    line-height: 20px;
    color: #009AD6;
    font-family: 'Titillium Web', sans-serif;
}
.wrapper-calidad .list-group.list-group-horizontal a {
    border-radius: 0;
    border: none;
    width: auto;
    display: inline-block;
}
.wrapper-calidad .list-group-item.active {
    color: #009AD6;
    background: transparent;
    border-bottom: 1px solid #33c7ee !important;
}
.wrapper-calidad .tab-content {
    font-size: 17px;
    line-height: 23px;
    color: #595959;
    font-family: 'Titillium Web', sans-serif;
}