.datos {
    padding: 3em 0;
}
.container--datos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
}
.container-pass {
    grid-template-columns: 1fr 1fr auto;
}
.container--datos fieldset {
    border: 1px solid #cdcdcd;
    padding: 1em;
    margin-top: .5em;
}
.container--datos fieldset legend {
    display: inline-block;
    width: auto;
    font-size: 14px;
    font-weight: bold;
}
.container--datos p {
    margin: 0;
}
.container--datos .btn,
.container--datos .form-control {
    border-radius: .5em;
}