.news {
    padding: 3em 0;
}

.news--title {
    text-align: center;
    font-size: 25px;
    line-height: 30px;
    font-weight: 600;
    color: #444444;
    text-transform: uppercase;
    font-family: 'Titillium Web', sans-serif;
    margin-bottom: 2em;
}
.news--title small {
    font-size: 17px;
    text-transform: initial;
}
.container--news {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    row-gap: 20px;
    column-gap: 20px;
}
.new--download,
.new--download:hover {
    color: inherit;
    text-decoration: none;
}
.new--download {
    grid-template-rows: auto auto;
    row-gap: 10px;
    display: grid;
    align-content: space-between;
}
.new--download img {
    width: 100%;
}