.productos {
    padding: 3em 0;
    background-color: #f4f4f4;
    font-family: 'Titillium Web', sans-serif;
}
.container--productos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    row-gap: 20px;
    column-gap: 20px;
    justify-items: center;

    font-size: 22px;
    line-height: 22px;
    color: #676767;
    font-family: 'Titillium Web', sans-serif;
}
.container--productos a,
.container--productos a:hover {
    text-decoration: none;
    color: inherit;
}
.container--productos a {
    display: block;
}
.family {
    width: 180px;
    text-align: center;
}
.family img {
    width: 108px;
    display: block;
    margin: auto;
    margin-bottom: 10px;
}
.productos--title {
    color: #014C7B;
    font-size: 26px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 2em;
}
/**/
.container--product {
    display: grid;
    grid-template-columns: 300px auto;
    grid-template-rows: auto;
    column-gap: 20px;
}
.container--product .lateral {
    padding: 1em 0;
}
#partesModal h5,
.container--product .lateral h5 {
    font-size: 23px;
    line-height: 30px;
    font-weight: 600;
    font-family: 'Titillium Web', sans-serif;
    text-transform: initial;
    margin-bottom: 0;
    cursor: pointer;
}
#partesModal a,
#partesModal a:hover,
.container--product .lateral a,
.container--product .lateral a:hover {
    text-decoration: none;
    color: inherit;
}
#partesModal .subparts,
.lateral .subparts {
    display: grid;
    grid-template-rows: auto;
    row-gap: 10px;
    padding-left: 10px;
}
#partesModal .subparts a,
#partesModal .subparts a:hover,
.lateral .subparts a,
.lateral .subparts a:hover {
    text-decoration: none;
    color: inherit;
}
#partesModal .active,
#partesModal .subparts a:hover,
#partesModal .subparts a.active,
.container--product .lateral .active,
.lateral .subparts a:hover {
    color: var(--hover-color);
}
.main {
    padding: 1em 0;
    position: relative;
}
.main--footer {
    margin-top: 1em;
}
.main--footer .page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #009AD6;
    border-color: #014C7B;
}
.search {
    margin-bottom: 2em;
    background-color: #f4f4f4;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 50px;
    column-gap: 20px;
}
.search--one {
    grid-template-columns: 1fr;
    margin-bottom: 0;
    border-bottom: 1px solid;
}
.search *::placeholder {
    color: #009AD6;
}
.search .form-control,
.search .btn {
    border-radius: .5em;
}
.container--main {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-template-rows: auto;
    row-gap: 20px;
    column-gap: 20px;
}
.product {
    word-wrap: break-word;
}
.product a,
.product a:hover {
    text-decoration: none;
    color: inherit;
}
.product p {
    margin: 0;
}

.product--name {
    font-size: 15px;
    line-height: 20px;
    font-weight: 600;
    color: #009AD6;
    font-family: 'Titillium Web', sans-serif;
    text-transform: uppercase;
}
.product--for {
    font-size: 17px;
    line-height: 22px;
    color: #BF1939;
    font-family: 'Titillium Web', sans-serif;
    text-transform: uppercase;
}
.product--code {
    font-size: 18px;
    line-height: 23px;
    font-weight: 600;
    color: #595959;
    font-family: 'Titillium Web', sans-serif;
}

.product--data {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
}
.product--color {
    color: #009AD6;
    font-weight: 500;
}
.product--data .product--code {
    font-weight: 600;
    font-size: 30px;
}
.product--title {
    font-weight: 500;
    font-size: 40px;
    line-height: 50px;
}
/**/
.not-found {
    text-align: center;
    font-size: 25px;
}
.not-found img {
    display: block;
    margin: auto;
    width: 180px;
    max-width: 100%;
}
/**/
.container--table th {
    text-transform: uppercase;
    white-space: nowrap;
}
.container--table td {
    vertical-align: middle;
}
.container--table td .btn {
    border-radius: .5em;
}
.th--image {
    width: 120px;
}
.th--stock,
.th--action {
    min-width: 80px;
    width: 80px;
}

.user--log {
    display: grid;
    grid-template-columns: auto 1fr auto;
    column-gap: 20px;
}
.user--log .btn {
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
}

.btn-pdf {
    color: var(--white) !important;
    background-color: #ae2e16;
    padding-left: 1em;
    padding-right: 1em;
    cursor: pointer;
}
.background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1111;
    background-color: rgba(22, 22, 22, .7);
}
.menu-cart {
    flex-direction: column;
    display: flex;
    transition: right 0.5s ease;
    background: #fff;
    right: -22rem;
    padding: 0rem 0rem 0rem 0rem;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 22rem;
    z-index: 999999;
}
.menu-cart.expanded,
.cart.expanded {
    right: 0rem;
}
.menu-cart-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding: 0.5rem 1rem 0.5rem 1rem;
    background-color: #fff;
}
.menu-cart-list ul:empty::before {
    content: "El pedido esta vacío";
    text-align: center;
    padding: 1em;
    display: block;
}
.menu-cart-list {
    flex: 1;
    background-color: #fff;
    overflow: auto;
}
.menu-cart-list::-webkit-scrollbar-track { -webkit-box-shadow: inset 0 0 0 rgba(0,0,0,0.3); background-color: #CCCCCC; }
.menu-cart-list::-webkit-scrollbar { width: 6px; background-color: #CCCCCC; }
.menu-cart-list::-webkit-scrollbar-thumb { -webkit-box-shadow: inset 0 0 0 rgba(0,0,0,.3); background-color: #000; }
.menu-cart-list ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
.menu-cart-list-item {
    padding: 0rem 1rem 0.8rem 1rem;
    border-bottom: 1px solid #ddd;
}
.menu-cart-list-item p {
    margin: 0;
}
.menu-cart-footer {
    padding: 1rem;
    border-top: 1px solid #ddd;
    background-color: #fff;
}
.menu-cart-footer-text {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.menu-cart-total {
    font-weight: 600;
    font-size: 1.1rem;
}
.menu-cart-price {
    font-weight: 700;
    font-size: 1.1rem;
    color: #009AD6;
}
.menu-cart-list-item-content {
    display: flex;
    flex-direction: column;
    margin-top: -0.5rem;
    padding-right: 0.5rem;
    font-family: 'Titillium Web', sans-serif;
}
.menu-cart-list-item-content input {
    background-color: transparent;
    border: none;
    outline: none;
    width: 40px;
    background-color: #009AD6;
    color: var(--white);
    text-align: center;
}
.menu-cart-list-close {
    position: relative;
    color: #000;
    margin: 0.5rem 0rem 0rem 0rem;
    font-size: 0.9rem;
    display: flex;
    justify-content: flex-end;
}
.cart {
    flex-direction: column;
    display: flex;
    transition: right 0.5s ease;
    background: #fff;
    right: -22rem;
    padding: 0rem 0rem 0rem 0rem;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 22rem;
    z-index: 999999;
}
.cart--container {
    display: grid;
    grid-template-rows: 1fr auto;
    row-gap: 20px;
    align-content: space-between;
}
.cart p:not(.product--code):not(.product--for) {
    font-size: 20px;
    line-height: 25px;
}
.cart .product--code {
    font-size: 35px;
    line-height: 37px;
}
.cart .product--for {
    font-size: 30px;
    line-height: 32px;
}
.cart .cart--img img {
    width: 100%;
}
.cart--footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "div div" 
        "button button";
}
.cart--footer div {
    grid-column-start: div;
    grid-column-end: div;
    grid-row-start: 1;
    grid-row-end: 1;
}
.checkout th .btn-ligth,
.menu-cart .btn-ligth,
.cart .btn-ligth {
    background-color: #e9ecef !important;
    border-color: #e9ecef;
}
.checkout th .btn-primary,
.menu-cart .btn-primary,
.cart .btn-primary {
    background-color: #009AD6 !important;
    border-color: #009AD6;
}

.btn-cart_product {
    position: fixed;
    right: 15px;
    top: 15px;
    z-index: 111;
    border-radius: .5em;
    font-size: 30px;
    background-color: #fefefe;
}
.btn-cart_product::before {
    position: absolute;
    border-radius: 50em;
    height: 25px;
    width: 25px;
    font-size: 14px;
    right: -15px;
    top: -15px;
    font-weight: 500;
    content: attr(data-total);
    background-color: #3dacde;
    color: #fefefe;
}

.cart--product {
    overflow-y: auto;
}
.cart-prod--container {
    display: grid;
    grid-template-rows: auto;
    row-gap: 20px;
}
.cart-show-product + .cart-show-product {
    border-top: 1px solid
}
.cart-prod--container p {
    margin: 0;
}

.cart-show-product__price {
    text-align: right;
}

.cart-show-product__for {
    color: #BF1939;
}
.cart-show-product__code {
    font-weight: 600;
    color: #595959;
}

.confirm,
.checkout {
    padding: 3em 0;
}
.checkout--total {
    font-size: 35px;
}

.checkout th .btn {
    border-radius: .5em;
}

.confirm .jumbotron {
}
.confirm .jumbotron .btn {
    background-color: #45901f !important;
    color: var(--white);
}

.data-client a,
.data-client a:hover {
    color: inherit;
    text-decoration: none;
}

.product--liquidacion {
    width: 60px;
    height: 60px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3;
    overflow: hidden;
    border-radius: .5em;
}
.product--liquidacion::before {
    content: "";
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    position: absolute;
    left: -25px;
    width: 140%;
    bottom: 21px;
    height: 20px;
    background-color: var(--color);
}
.product--liquidacion img {
    left: -1px;
    top: -1px;
    position: absolute;
    width: 100%;
}

#btnPartesModal {
    display: none;
}

@media (max-width: 1024px) {
    #btnPartesModal {
        display: inline-block;
    }
    .container--product {
        grid-template-columns: 1fr;
    }
    .container--news {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .container--productos {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: 768px) {
    .product--data {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        row-gap: 20px;
    }
    .container--news {
        grid-template-columns: 1fr 1fr;
    }
    .container--productos {
        grid-template-columns: 1fr 1fr;
    }
    .container--main {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    .container--product {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        row-gap: 20px;
    }
}