.productos {
    padding: 3em 0;
    background-color: #f4f4f4;
    font-family: 'Titillium Web', sans-serif;
}
.container--productos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    row-gap: 20px;
    column-gap: 20px;
    justify-items: center;

    font-size: 22px;
    line-height: 22px;
    color: #676767;
    font-family: 'Titillium Web', sans-serif;
}
.container--productos a,
.container--productos a:hover {
    text-decoration: none;
    color: inherit;
}
.container--productos a {
    display: block;
}
.family {
    width: 180px;
    text-align: center;
}
.family img {
    width: 108px;
    display: block;
    margin: auto;
    margin-bottom: 10px;
}
.productos--title {
    color: #014C7B;
    font-size: 26px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 2em;
}
/**/
.container--product {
    display: grid;
    grid-template-columns: 300px auto;
    grid-template-rows: auto;
    column-gap: 20px;
}
.container--product .lateral {
    padding: 1em 0;
}
.container--product .lateral h5 {
    font-size: 23px;
    line-height: 30px;
    font-weight: 600;
    font-family: 'Titillium Web', sans-serif;
    text-transform: initial;
    margin-bottom: 0;
    cursor: pointer;
}

.lateral .subparts {
    display: grid;
    grid-template-rows: auto;
    row-gap: 10px;
    padding-left: 10px;
}
.lateral .subparts a,
.lateral .subparts a:hover {
    text-decoration: none;
    color: inherit;
}
.lateral .subparts a:hover {
    color: var(--hover-color);
}

.main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    row-gap: 20px;
    column-gap: 20px;
}
.product a,
.product a:hover {
    text-decoration: none;
    color: inherit;
}
.product p {
    margin: 0;
}