/node_modules
/public/api
/public/hot
/public/storage
/public/file
/public/files
/public/images
/public/images/sliders
/public/mugre
/public/pedidos
/public/pedidospdf
/public/programa
/public/IMAGEN
/public/IMAGEN_MINI
/public/IMAGEN_BAJAS
/public/IMAGEN_TEST
/public/VFPsUpload
/public/comprobantes_pdf
/public/sgc
/public/static/lista_precios_general.jpg
/storage/*.key
/storage/framework
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
