/*
 *
 *  Tags & class
 *
 */
html {
    overflow-x: initial !important;
}
body {
    background-color: $body-bg;
    font-family: $font-family-titillum-web;
    font-size: $font-size-base;
}
a,
a:not(.fa-3x):active {
    color: inherit;
    font-size: inherit;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}

section:nth-of-type(2n) {
    background-color: #eee;
}

.notification {
    z-index: 1112;
    position: fixed;
    left: 15px;
    bottom: 15px;
    padding: 15px;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 10px 2px rgba(0,0,0,.1);
    box-shadow: 0 0 10px 2px rgba(0,0,0,.1);
    background-color: $white;
}

p {
    margin: 0;
}

.form-control:focus {
    box-shadow: none;
}

.form {
    display: grid;
    grid-template-rows: 1fr;
    row-gap: 10px;
}
.form-control,
.btn {
    border-radius: .3em;
}
.dropdown {
    &.bootstrap-select.show {
        z-index: 1 !important;
    }
}
.carousel-indicators {
    li {
        background-color: #33c7ee;
        width: 10px;
        height: 10px;
        border-radius: 50%;
    }
}
.carousel-caption {
    .texto {
        text-align: left;
        > * {
            font-size: 35px;
            line-height: 45px;
            font-weight: 600;
            color: $white;
            font-family: 'Titillium Web', sans-serif;
            text-shadow: 0 0 2px #333;
        }
    }
}

.carousel-inner:not(.carousel-inner__modal) {
    z-index: -1;
}
.carousel-indicators {
    z-index: 0;
}


#timeline ol {
    list-style: none;
}
.horizontal-timeline {
    .events a:hover {
        text-decoration: none;
    }
    .events-content li {
        text-align: center;
        background-color: transparent;
        font-size: 17px;
    }
    .events a.older-event::after,
    .events a.selected::after,
    .filling-line {
        background-color: $colorVentor;
    }
}
.timeline-navigation a:hover {
    color: $colorVentor;
    border-color: $colorVentor;
}


.numeros {
    letter-spacing: 0;
    font-size: 35px;
    line-height: 42px;
    font-weight: 600;
    color: #2c266c;
    > *:first-child {
        letter-spacing: 0;
        font-size: 45px;
        line-height: 42px;
        font-weight: 700;
        color: $colorVentor;
    }
}

.news {
    &--title {
        text-align: center;
        font-size: 25px;
        line-height: 30px;
        font-weight: 600;
        color: #444444;
        text-transform: uppercase;
        margin-bottom: 2em;
    }
    &--small {
        font-size: 12px;
        text-transform: uppercase;
        text-align: right;
        color: #888;
    }

    &--download,
    &--download:hover {
        color: inherit;
        text-decoration: none;
    }
    &--download {
        display: flex;
        flex-direction: column;
        img {
            width: 100%;
            + * {
                margin-top: 10px;
            }
        }
    }
}

.products {
    &--title {
        color: #014C7B;
        font-size: 26px;
        font-weight: 600;
        text-align: center;
        margin-bottom: 2em;
    }
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1111;
    background-color: rgba(22, 22, 22, .7);
}

.pagination {
    margin-top: 1rem;
    margin-bottom: 0 !important;
    .page-link {
        color: $colorVentor;
    }
    .page-item.active {
        .page-link {
            color: $white;
            background-color: $colorVentor;
            border-color: $colorVentor;
        }
    }
}

.search {
    background-color: #f4f4f4;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 50px;
    column-gap: 20px;
    .choices {
        margin-bottom: 0;
    }
    .form-control {
        padding: 7.5px;
        border: 1px solid #ddd;
        border-radius: 0 !important;
        min-height: 53px;
        &::placeholder {
            color: #595959;
            opacity: .5;
        }
    }
    &--one {
        grid-template-columns: 1fr;
        margin-bottom: 0;
        border-bottom: 1px solid;
    }
    @media (max-width: 425px) {
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
        row-gap: 20px;
    }
    *::placeholder {
        color: #009AD6;
    }
    .form-control,
    .btn {
        border-radius: .5em;
    }
}

.menu-cart {
    flex-direction: column;
    display: flex;
    transition: right 0.5s ease;
    background: #fff;
    right: -30rem;
    padding: 0rem 0rem 0rem 0rem;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 30rem;
    z-index: 999999;
    &.menu-cart.expanded {
        right: 0rem;
    }
    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #ddd;
        padding: 0.5rem 1rem 0.5rem 1rem;
        background-color: #fff;
    }
    &__list ul {
        padding: 0;
        margin: 0;
        list-style: none;
        display: grid;
        &:empty::before {
            content: "El pedido esta vacío";
            text-align: center;
            padding: 1em;
            display: block;
        }
    }
    &__list {
        flex: 1;
        background-color: #fff;
        overflow: auto;
        &--item-content {
            display: flex;
            flex-direction: column;
            margin-top: -0.5rem;
            padding-right: 0.5rem;
            font-family: 'Titillium Web', sans-serif;
            input {
                background-color: transparent;
                border: none;
                outline: none;
                width: 40px;
                background-color: #009AD6;
                color: var(--white);
                text-align: center;
            }
        }
        &--close {
            position: relative;
            color: #000;
            margin: 0.5rem 0rem 0rem 0rem;
            font-size: 0.9rem;
            display: flex;
            justify-content: flex-end;
        }
    }
    &__list::-webkit-scrollbar-track { -webkit-box-shadow: inset 0 0 0 rgba(0,0,0,0.3); background-color: #CCCCCC; }
    &__list::-webkit-scrollbar { width: 6px; background-color: #CCCCCC; }
    &__list::-webkit-scrollbar-thumb { -webkit-box-shadow: inset 0 0 0 rgba(0,0,0,.3); background-color: #000; }
    &__list-item {
        padding: 0rem 1rem 0.8rem 1rem;
        border-bottom: 1px solid #333;
        p {
            margin: 0;
        }
        i.product-images {
            display: none;
        }
    }
    &__footer {
        padding: 1rem;
        border-top: 1px solid #ddd;
        background-color: #fff;
        &--text {
            display: flex;
            justify-content: space-between;
            margin-bottom: 1rem;
        }
    }
    &__total {
        font-weight: 600;
        font-size: 1.1rem;
    }
    &__price {
        font-weight: 700;
        font-size: 1.1rem;
        color: #009AD6;
    }
    &__buttons {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "more stock"
        "clear end";
        grid-gap: 10px;
    }
    &__buttons .btn-block + .btn-block {
        margin-top: 0;
    }
    &__buttons .more {
        grid-area: more;
    }
    &__buttons .stock {
        grid-area: stock;
    }
    &__buttons .end {
        grid-area: end;
    }
    &__buttons .clear {
        grid-area: clear;
    }
}

.product-table {
    &__image {
        width: 250px;
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
        position: relative;
        .product-images {
            position: absolute;
            bottom: 10px;
            left: 10px;
            cursor: pointer;
            font-size: 2rem;
        }
        &--first,
        &--liquidacion {
            width: 100%;
        }
        &--liquidacion {
            margin-left: -2px;
            margin-top: -2px;
            z-index: 1;
            position: relative;
        }
    }
    &__liquidacion {
        width: 120px;
        top: 10px;
        left: 10px;
        position: absolute;
        border-radius: 15px;
        overflow: hidden;
        span {
            height: 22px;
            -moz-transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
            z-index: 0;
            left: -20px;
            top: 44px;
            width: 140px;
            position: absolute;
        }
    }
    &__name {
        font-size: 14px;
        color: #555;
        line-height: 16px;
    }
    &--price {
        &--sell {
            color: $colorVentor;
        }
        &--total {
            font-size: 20px;
            font-weight: 600;
        }
    }
    .table-active {
        text-align: right;
    }
}

.cart {
    flex-direction: column;
    display: flex;
    transition: right 0.5s ease;
    background-color: #fff;
    right: -22rem;
    padding: 0rem 0rem 0rem 0rem;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 22rem;
    z-index: 999999;
    &.cart.expanded {
        right: 0rem;
    }

    &__container {
        display: grid;
        grid-template-rows: 1fr auto;
        row-gap: 20px;
        align-content: space-between;
    }
    &__img {
        img {
            width: 100%;
        }
    }
    &__footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
            "div div" 
            "button button";
        div {
            grid-column-start: div;
            grid-column-end: div;
            grid-row-start: 1;
            grid-row-end: 1;
        }
    }
    &__product {
        overflow-y: auto;
    }
    p:not(.product--code):not(.product--for) {
        font-size: 20px;
        line-height: 25px;
    }
    .product {
        &__code {
            font-size: 35px;
            line-height: 37px;
        }
        &__for {
            font-size: 30px;
            line-height: 32px;
        }
    }
    .btn-ligth {
        background-color: #e9ecef !important;
        border-color: #e9ecef;
    }
    .btn-primary {
        background-color: $colorVentor !important;
        border-color: $colorVentor;
    }
    &-product {
        &__container {
            display: grid;
            grid-template-rows: auto;
            row-gap: 20px;
            p {
                margin: 0;
            }
        }
    }
    &-show {
        &__product {
            + .cart-show__product {
                border-top: 1px solid

            }
            &--price {
                text-align: right;
            }
            &--stock {
                float: left;
                &:not(:empty)::before {
                    content: "Stock: ";
                }
            }
        }
        &--for {
            color: #BF1939;
        }
        &--code {
            font-weight: 600;
            color: #595959;
        }
    }

}
.checkout th .btn-ligth,
.menu-cart .btn-ligth,
.cart .btn-ligth {
    background-color: #e9ecef !important;
    border-color: #e9ecef;
}
.checkout th .btn-primary,
.menu-cart .btn-primary,
.cart .btn-primary {
    background-color: #009AD6 !important;
    border-color: #009AD6;
}

.btn-cart_product {
    position: relative;
}
.btn-cart_product::after {
    font-weight: 500;
    content: attr(data-total);
    color: $colorVentor;
}

.main {
    .breadcrumb-item {
        text-transform: uppercase;
    }
}
.user {
    &--log {
        display: grid;
        grid-template-columns: 320px auto 260px;
        &__btn {
            padding: .5rem;
            color: #444444;
            text-transform: uppercase;
            text-align: center;
            outline: none !important;
            border: none;
            font-size: 12px;
            &.--active {
                color: $white;
                background-color: $colorVentor;
            }
        }
        > div {
            display: inherit;
            grid-template-columns: auto auto;
            form {
                display: flex;
                button {
                    width: 60px;
                    border: none;
                    outline: none;
                    background-color: #f46954;
                    color: $white;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                }
            }
            .price__type {
                width: 200px;
                display: grid;
                grid-template-columns: 1fr 1fr;
                input {
                    display: none;
                    &:checked + label{
                        background-color: $colorVentor !important;
                        color: #fff;
                    }
                }
                label {
                    margin: 0;
                    font-size: 14px;
                    background-color: #ddd;
                    justify-content: center;
                    align-items: center;
                    display: flex;
                    cursor: pointer;
                }
            }
        }
    }
}

.checkout {
    th,
    .--one-line {
        white-space: nowrap;
    }
    th, td {
        text-transform: uppercase;
        font-size: 16px;
        vertical-align: middle;
    }
    .th--image {
        width: 200px;
    }
    td {
        img {
            width: 200px;
        }
    }
}

.confirm {
    .jumbotron {
        .btn {
            background-color: #45901f !important;
            border-color: #45901f !important;
            color: var(--white);
        }
    }
}

.client {
    &__importe {
        white-space: nowrap;
    }
}
.pedido {
    &__title {
        font-size: 35px;
        line-height: 42px;
        margin-bottom: 20px;
        font-weight: 600;
        color: #595959;
        text-transform: uppercase;
    }
    &__importe {
        white-space: nowrap;
    }
    td {
        vertical-align: middle;
    }
    &__list {
        background-color: #ffffff;
        border-radius: .3em;
        padding: 1em;
    }
}

#modalDownload {
    .modal {
        &-header {
            background-color: $colorVentor;
            color: $white;
            .close {
                font-size: 2.7em;
                color: $white;
            }
        }
        &-body {
            font-size: 1.5em;
            color: $white;
            background-color: #1c87bb;
            a {
                background-color: $white;
                color: $colorVentor;
                padding: 18px;
                display: inline-block;
                position: relative;
                &:hover::before {
                    content: "";
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 0;
                    bottom: 0;
                }
            }
        }
        &-title {
            font-size: 2rem;
            line-height: 2.5rem;
            font-weight: 700;
        }
    }
}
#imagesProductModal {
    .carousel-control-next,
    .carousel-control-prev {
        background-color: rgba(0,0,0,.5);
    }

    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }

    .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .swiper-container {
        width: 100%;
        height: 300px;
        margin-left: auto;
        margin-right: auto;
    }

    .swiper-slide {
        background-size: cover;
        background-position: center;
    }

    .swiperBig {
        height: 80%;
        width: 100%;
        overflow: hidden;
    }

    .swiperThumbs {
        height: 20%;
        box-sizing: border-box;
        padding: 10px 0;
        .swiper-slide {
            width: 25%;
            height: 100%;
            opacity: 0.4;
        }
        .swiper-slide-thumb-active {
            opacity: 1;
        }
    }


    .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

#btn--budget {
    position: fixed;
    right: 20px;
    bottom: 20px;
    background-color: $colorVentor;
    color: $white;
    width: 60px;
    height: 60px;
    font-size: 25px;
    border-radius: 50rem;
    -webkit-box-shadow: 0 0 10px 1px rgba(0,0,0,.27);
    box-shadow: 0 0 10px 1px rgba(0,0,0,.27);
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    &:disabled {
        background-color: rgba(120,120,120,.5);
    }
    small:not(:empty) {
        font-size: 12px;
        font-weight: bold;
        border-radius: 50rem;
        background-color: red;
        color: $white;
        width: 20px;
        height: 20px;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 0;
        top: 0;
    }
}