// Body
$body-bg: #fefefe;

// Typography
$font-family-titillum-web: 'Titillium Web', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$white: #ffffff;
$grayA: #7a7a7a;
$grayC: #7c7c7c;
$colorVentor: #009AD6;
$colorDark: #0099D8;