.error--elements {
    padding: 3em 0;
    background-color: #f35556;
    color: var(--white);
}
.error--btn {
    padding: 3em 0;
}
.error-icon {
    font-size: 50px;
}
.error--btn .btn {
    border-radius: .5em;
    background-color: #f35556;
    color: var(--white);
}