// // // // AVATAR
.avatar {
  display: flex;
  align-items: center;
  padding: size(5);
  border: 1px solid $c-gray;
  border-radius: size(25);
  cursor: none;

  &__arrow {
    margin-left: size(6);
    color: $c-ventor;
  }
 

  img {
    width: size(32);
    height: size(32);
    border-radius: size(50);
    display: block;
    margin-right: size(6);
  }

  .mobile-nav__link--user {
    margin-right: size(5);
  }

  &__title {
    font-size: size(17);
    line-height: 1;
    padding: size(8) size(0);
    display: flex;
    align-items: center;
  }

  &__content {
    .secondary-nav__link {
      margin-top: size(14);
    }
  }

  &--mobile {
    margin-bottom: size(20);
    padding: 0 0 size(20) 0;
    border: none;
    border-bottom: 1px solid $c-gray;
    align-items: flex-start;
    border-radius: 0;
  }

  .secondary-nav__link {
    line-height: 1;
  }

  @media (min-width: 768px) {
    cursor: pointer;
    &__title {
      font-size: size(16);
      padding: size(0);
    }
  }
}