.hamburger {
    background-color:transparent;
	height: size(45);
	width: size(45);
	padding: size(20)  size(20);
	-webkit-transform:translate3d(0, 0, 0);
	transform:translate3d(0, 0, 0);
	-webkit-transition:-webkit-transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
	transition:transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
	cursor:pointer;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
    &.--active {
        background-color:none;
        .-top {
            -webkit-transform:translateY(200%) rotate(45deg) !important;
            -ms-transform:translateY(200%) rotate(45deg) !important;
            transform:translateY(200%) rotate(45deg) !important;
        }
        .-mid {
            opacity:0;
        }
        .-bottom {
            -webkit-transform:translateY(-200%) rotate(135deg) !important;
            -ms-transform:translateY(-200%) rotate(135deg) !important;
            transform:translateY(-200%) rotate(135deg) !important;
        }
    }
    &:hover {
        .-top {
            -webkit-transform:translateY(-100%);
            -ms-transform:translateY(-100%);
            transform:translateY(-100%);
        }
        .-bottom{
            -webkit-transform:translateY(100%);
            -ms-transform:translateY(100%);
            transform:translateY(100%);
        }
    }
    ._layer {
        background: $c-dark;
        margin-bottom:4px;
        border-radius:2px;
        width: size(38);
        height: 4px;
        opacity: 1;
        -webkit-transform:translate3d(0, 0, 0);
        transform:translate3d(0, 0, 0);
        -webkit-transition:all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
        transition:all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
    }
}