.notification {
    display: none;
    position: fixed;
    right: size(20);
    bottom: size(20);
    z-index: 999;
    background-color: $c-bg-gray;
    color: $c-text-gray;
    border: 1px solid $c-text-gray;
    border-radius: size(20);
    box-shadow: $c-shadow-help;
    align-items: center;
    padding: 0 size(10);
    height: size(45);
    font-size: size(14);
    &.--loader {
        display: flex;
        &::after {
            content: "";
            margin-left: size(10);
            border: 4px solid rgba(0, 0, 0, 0.1);
            width: size(16);
            height: size(16);
            border-radius: 50%;
            border-left-color: $c-white;
            animation: spin 1s ease infinite;
        }
    }
    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        
        100% {
            transform: rotate(360deg);
        }
    }
}