body {
    background-color: #edeef3;
    font-family: 'Titillium Web', sans-serif;
}
section {
    padding-top: 40px;
    margin-top: 83px;
}
.section--no_pad {
    padding: 0;
}

.grecaptcha-badge {
    display: none !important;
}