.datos__container {
    background-color: #ffffff;
    border-radius: .3em;
    padding: 1em;
}
body.dark-mode .datos__container {
    background-color: #353535;
}
.datos__container + .datos__container {
    margin-top: 20px;
}
.datos__container:last-child {
    margin-bottom: 40px;
}
.datos__container p {
    margin-bottom: 0;
}
.datos__container legend {
    font-size: 17px;
    text-transform: uppercase;
    display: inline-block;
    width: initial;
    margin: 0;
}
.datos__container fieldset {
    padding: .6em;
    border: 1px solid #bbbbbb;
    border-radius: .3em;
    margin-top: .6em;
}
.datos__container h3 {
    font-size: 35px;
    line-height: 42px;
    font-weight: 600;
    color: #595959;
}
.datos__container--pass {
    background-color: #f34423;
    color: #ffffff;
}

.contact__form {
    display: grid;
    grid-template-rows: 1fr;
    row-gap: 10px;
}
.contact__form .form-control,
.contact__form .btn {
    border-radius: .3em;
}