.header {
    background-color: #ffffff;
    -webkit-box-shadow: 0 5px 30px 1px rgba(0,0,0,.15);
    box-shadow: 0 5px 30px 1px rgba(0,0,0,.15);
    height: 83px;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 11;
    position: fixed;
}
body.dark-mode .header {
    background-color: #242f3e;
    color: #ffffff;
}
.header__container {
    display: grid;
    grid-template-columns: 1fr 200px 1fr;
    column-gap: 10px;
    padding: 10px 0;
}
.header__container > div {
    display: flex;
    align-items: center;
}
.header__logo {
    width: 100%;
    display: block;
}
.header__menu {
    color: #565656;
    font-size: 30px;
}
body.dark-mode .header .btn {
    color: inherit;
}
.header__user {
    border-radius: 50em;
    background-color: rgba(0,0,0,.05);
    color: #ffffff;
    width: 36px;
    height: 36px;
}
.header__user--login {
    background-color: #0a9ad6;
}
.header__end {
    display: flex;
    justify-content: flex-end;
}
.header .btn {
    -webkit-transition: all 600ms ease;
    -moz-transition: all 600ms ease;
    -ms-transition: all 600ms ease;
    -o-transition: all 600ms ease;
    transition: all 600ms ease;
}
.header .btn:focus, .header .btn.focus {
    box-shadow: none;
    background-color: rgba(0,0,0,.05);
    -webkit-transition: all 600ms ease;
    -moz-transition: all 600ms ease;
    -ms-transition: all 600ms ease;
    -o-transition: all 600ms ease;
    transition: all 600ms ease;
}
.header__btns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "search login"
    "cart login";
    column-gap: 5px;
}
.header__btns--simple {
    grid-template-areas: 
    "search login";
}
.header__btns .header__search {
    grid-area: search;
}
.header__btns .header__cart {
    grid-area: cart;
}
.header__btns .header__user {
    grid-area: login;
    align-self: center;
}
.header__cart--icon,
.header__search--icon {
    position: relative;
}
.header__cart--icon::after {
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translate(-50%, 0);
    content: attr(data-products);
    font-style: normal;
    font-weight: bold;
    color: #0a9ad6;
}

@media (max-width: 375px) {
    .header__container {
        grid-template-columns: 1fr 100px 1fr;
    }
}