.nav__mobile {
    position: fixed;
    width: 300px;
    left: 0;
    top: 0;
    margin: 0;
    height: 100%;
    padding-bottom: 60px;
    background-color: #fff;
    z-index: 999;
    overflow-y: auto;
    will-change: transform;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateX(-105%);
    transform: translateX(-105%);
}
.nav__mobile--user {
    -webkit-transform: translateX(205%);
    transform: translateX(205%);
}
.sidenav-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0;
    height: 120vh;
    background-color: rgba(0,0,0,0.5);
    z-index: 997;
    display: none;
}

.nav__list {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: 1f;
}
.nav__element a {
    color: rgba(0,0,0,0.87);
    display: block;
    font-size: 16px;
    font-weight: 500;
    height: 48px;
    line-height: 48px;
    padding: 0 32px;
}
.nav__element a:hover,
.nav__element a.active {
    background-color: rgba(0,0,0,0.05);
}
.nav__element--logo {
    padding: 0;
    height: 170px;
    background-image: url(../../static/bg_nav.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right top;
}
.nav__logo {
    max-width: 100%;
    width: 200px;
}
.nav__element--form {
    padding: 10px 32px;
}
.nav__form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.nav__form--21 {
    grid-template-columns: 1fr;
}
.nav__form .btn {
    background-color: #0a9ad6;
    color: #f0f0f0;
}
.nav__element--name {
    font-size: 25px;
    padding: 20px 32px;
    background-color: #f0f0f0;
    border-bottom: 1px solid #e0e0e0;
}
.nav__element--icon i {
    width: 30px;
}


.contact__form {
    display: grid;
    grid-template-rows: 1fr;
    row-gap: 10px;
}
.contact__form .form-control,
.contact__form .btn {
    border-radius: .3em;
}