.th--image {
    width: 200px;
    min-width: 200px;
}
.th--name {
    width: 300px;
    min-width: 300px;
}
.th--venta {
    width: 100px;
    min-width: 100px;
}
.th--stock {
    width: 120px;
    min-width: 120px;
}

.product__container {
    background-color: #ffffff;
    border-radius: .3em;
    padding: 1em;
}
.product__container + .product__container {
    margin-top: 20px;
}
.product th,
.product__important {
    white-space: nowrap;
}
.product th {
    text-transform: uppercase;
}
.product td {
    vertical-align: middle;
}
.product-images {
    position: absolute;
    left: 5px;
    bottom: 5px;
    color: #3a3a3a;
    z-index: 1;
    cursor: pointer;
    font-size: 30px;
}
.product--code {
    font-size: 18px;
    line-height: 23px;
    font-weight: 600;
    color: #595959;
    font-family: 'Titillium Web', sans-serif;
}
.product--for {
    font-size: 17px;
    line-height: 22px;
    color: #BF1939;
    font-family: 'Titillium Web', sans-serif;
    text-transform: uppercase;
}
.product td .btn {
    border-radius: .5em;
}
.product td p {
    margin-bottom: 0;
}
.product__container--btns {
    background-color: #0a9ad6;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 0;
    row-gap: 10px;
}


.price__type {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
}
.price__type label {
    margin: 0;
    padding: 0 1em;
    align-items: center;
    justify-content: center;
    height: 37px;
    display: flex;
    cursor: pointer;
    background-color: #eeeeee;
}
.price__type input[type="radio"] {
    display: none;
}
.price__type input[type="radio"]:checked + label{
    background-color: #333333;
    color: #fff;
}
.product--liquidacion {
    width: 60px;
    height: 60px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3;
    overflow: hidden;
    border-radius: .5em;
}
.product--liquidacion::before {
    content: "";
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    position: absolute;
    left: -25px;
    width: 140%;
    bottom: 21px;
    height: 20px;
    background-color: var(--color);
}
.product--liquidacion img {
    left: -1px;
    top: -1px;
    position: absolute;
    width: 100%;
}