/*
 *
 *  Tags & class
 *
 */
 html {
    overflow-x: initial !important;
}
body {
    background-color: $body-bg;
    font-family: $font-family-titillum-web;
    font-size: $font-size-base;
}
a,
a:not(.fa-3x):active {
    color: inherit;
    font-size: inherit;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}

section:nth-of-type(2n) {
    background-color: #eee;
}

.notification {
    z-index: 1112;
    position: fixed;
    left: 15px;
    bottom: 15px;
    padding: 15px;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 10px 2px rgba(0,0,0,.1);
    box-shadow: 0 0 10px 2px rgba(0,0,0,.1);
    background-color: $white;
}

p {
    margin: 0;
}


.products {
    &--title {
        color: #014C7B;
        font-size: 26px;
        font-weight: 600;
        text-align: center;
        margin-bottom: 2em;
    }
}

.sidenav-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0;
    height: 120vh;
    background-color: rgba(0,0,0,0.5);
    z-index: 997;
    display: none;
}

.nav {
    &__form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        .btn {
            background-color: $colorVentor;
            color: #f0f0f0;
            border-radius: 0;
        }
        .form-control {
            border-radius: 0;
            &:focus {
                box-shadow: none;
            }
        }
        &--21 {
            grid-template-columns: 1fr;
        }
    }
    &__mobile {
        position: fixed;
        width: 300px;
        left: 0;
        top: 0;
        margin: 0;
        height: 100%;
        padding-bottom: 60px;
        background-color: $white;
        z-index: 999;
        overflow-y: auto;
        will-change: transform;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-transform: translateX(-105%);
        transform: translateX(-105%);
        &--user {
            -webkit-transform: translateX(205%);
            transform: translateX(205%);
        }
        &--search {
            -webkit-transform: initial;
            transform: initial;
            width: 100%;
            display: none;
            background-color: $colorVentor;
            opacity: .94;
            .close {
                right: 10px;
                top: 10px;
                font-size: 60px;
                opacity: .9;
                float: none;
                position: absolute;
            }
            form {
                position: absolute;
                width: 100%;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
    &__list {
        list-style: none;
        padding: 0;
        display: grid;
        grid-template-columns: 1f;
    }
    &__element {
        &--logo {
            padding: 0;
            height: 170px;
            background-image: url(../../static/bg_nav.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: right top;
        }
        &--form {
            padding: 10px 32px;
        }
        &--name {
            font-size: 25px;
            padding: 20px 32px;
            background-color: #f0f0f0;
            border-bottom: 1px solid #e0e0e0;
        }
        &--icon i {
            width: 30px;
        }
        a {
            color: inherit;
            display: block;
            font-size: 16px;
            font-weight: 500;
            height: 48px;
            line-height: 48px;
            padding: 0 32px;
            &.active {
                color: $colorVentor;
            }
        }

    }
}
.enterprise {
    margin-top: 40px;
    &:last-child {
        margin-bottom: 40px;
    }
    &__year {
        background-color: $colorVentor;
        color: $white;
        border-radius: .3em;
        padding: 2em 3.5em;
        max-height: 290px;
        overflow-y: auto;
    }
}

.contact {
    &--white {
        background-color: #f7f7f7;
    }
    &__map {
        margin-bottom: 1em;
        iframe {
            width: 100%;
        }
    }
    &__number {
        background-color: #ffffff;
        border-radius: .3em;
        padding: 2em 3.5em;
        &--slim {
            padding: 1.4em;
            font-size: .9rem;
            + .contact__number--slim {
                margin-top: 1em;
            }
        }
    }
    &__title {
        letter-spacing: 0;
        font-size: 23px;
        line-height: 25px;
        font-weight: 600;
        color: #0099D8;
        &--secondary {
            color: #595959;
            font-size: 18px;
        }
    }
    &__responsable {
        letter-spacing: 0;
        font-size: 20px;
        line-height: 28px;
        font-weight: 600;
        color: #595959;
    }
    &__form {
        display: grid;
        grid-template-rows: 1fr;
        row-gap: 10px;
        .form-control,
        .btn {
            border-radius: .3em;
        }
    }
}

.quality {
    &__title {
        font-size: 35px;
        line-height: 42px;
        font-weight: 600;
        &--important {
            color: $grayC;
        }
        &--secondary {
            font-size: 15px;
            line-height: 20px;
            color: $colorVentor;
        }
        &--pharse {
            color: $colorVentor;
            font-size: 25px;
            line-height: 33px;
        }
    }
}

.downloads {
    &--title {
        font-size: 35px;
        line-height: 41px;
        font-weight: 300;
        color: $colorVentor;
    }
    img {
        width: 100%;
    }
    .download {
        background-color: #ffffff;
        border-radius: .3em;
        padding: 1em;
        &--name {
            text-align: center;
        }
    }
}