.th--image {
    width: 200px;
    min-width: 200px;
}
.th--name {
    width: 300px;
    min-width: 300px;
}
.th--venta {
    width: 100px;
    min-width: 100px;
}
.th--stock {
    width: 120px;
    min-width: 120px;
}

.product__container {
    background-color: $white;
    border-radius: .3em;
    padding: 1em;
}
.product__container--details {
    background-color: #fbfbfb;
    margin-bottom: 20px;
}
.product__container--btns {
    background-color: #0a9ad6;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 0;
    row-gap: 10px;
}

.product {
    padding: 2em 0;
    color: #595959;

    th,
    &__important {
        white-space: nowrap;
    }
    th {
        text-transform: uppercase;
    }
    td {
        vertical-align: middle;
        .btn {
            border-radius: .5em;
        }
    }
    &__delete {
        color: $colorVentor;
        cursor: pointer;
    }
    &__image {
        position: relative;
    }
    &__images {
        position: absolute;
        left: 5px;
        bottom: 5px;
        color: #3a3a3a;
        z-index: 1;
        cursor: pointer;
        font-size: 30px;
    }
    &--code {
        font-size: 18px;
        line-height: 23px;
        font-weight: 700;
    }
    &--for {
        font-size: 17px;
        line-height: 22px;
        text-transform: uppercase;
    }
    &--title {
        font-weight: 500;
        font-size: 30px;
        line-height: 40px;
    }
    &--color {
        color: $colorVentor;
        font-weight: 500;
    }
    &_element {
        padding: .5em;
        border-radius: .4em;
        margin-bottom: 4%;
        background-color: $white;
        position: relative;
        -webkit-column-break-inside: avoid;
        page-break-inside: avoid;
        break-inside: avoid;
        border: 1px solid #CCCCCC;
        &--no_click {
            pointer-events: none;
            background-color: #CCCCCC;
            opacity: .5;
            &::before {
                content: "";
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                z-index: 2;
                opacity: .5;
                background-color: #f4f4f4;
            }
        }
    }
    &__quantity {
        margin-top: .4em;
        border-radius: .3em;
    }
    &__code,
    &__name {
        margin-top: .4em;
    }
    &__price {
        margin-top: .4em;
        font-size: 18px;
        div {
            display: flex;
            justify-content: space-between;
        }
    }
    &__cantmin {
        margin-top: .4em;
        &::before {
            content: "Cantidad mínima: ";
        }
    }
    &__stock {
        background-color: #eeeeee;
        margin-top: .4em;
        padding: .4em;
        border-radius: .4em;
        text-align: center;
        &::before {
            content: "Comprobar stock";
        }
        &--error::before {
            content: "Ocurrió un error";
        }
        &--pre {
            background-color: $green !important;
            &::before {
                content: "Comprobando ...";
            }
        }
        &--ok {
            background-color: #4dac6a !important;
            color: $white;
            &::before {
                content: "Stock disponible";
            }
        }
        &--middle {
            background-color: $orange !important;
            color: $white;
            &::before {
                content: "Stock inferior o igual a cantidad crítica";
            }
        }
        &--no {
            background-color: $red !important;
            color: $white;
            &o::before {
                content: "Sin stock";
            }
        }
        .value {
            background-color: #000;
            color: $white;
            font-weight: bold;
        }
    }
    &__cart {
        position: absolute;
        right: 0;
        top: 0;
        color: $white;
        background-color: $colorVentor;
        border-radius: 50em;
        width: 40px;
        height: 40px;
        font-size: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        &.btn-success {
            background-color: var(--success);
        }
        &.btn-warning {
            background-color: var(--warning);
            color: var(--dark);
        }
    }
    
    &__container--filter {
        background-color: $white;
    }
    .price {
        &__type {
            display: grid;
            grid-template-columns: repeat(1, minmax(0, 1fr));
            label {
                margin: 0;
                padding: 0 1em;
                align-items: center;
                justify-content: center;
                height: 37px;
                display: flex;
                cursor: pointer;
                color: #222;
                background-color: #eeeeee;
            }
            input[type="radio"] {
                display: none;
            }
            input[type="radio"]:checked + label{
                background-color: #333333;
                color: $white;
            }
        }
    }
    &--liquidacion {
        width: 60px;
        height: 60px;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 3;
        overflow: hidden;
        border-radius: .5em;
        &::before {
            content: "";
            -moz-transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
            position: absolute;
            left: -25px;
            width: 140%;
            bottom: 21px;
            height: 20px;
            background-color: var(--color);
        }
        img {
            left: -1px;
            top: -1px;
            position: absolute;
            width: 100%;
        }
    }
}


.products {
    margin-top: 20px;
    column-count: 2;
    column-gap: 10px;
    &__filter {
        position: fixed;
        width: 100%;
        left: 0;
        top: 0;
        margin: 0;
        height: 100%;
        padding-bottom: 60px;
        background-color: $white;
        z-index: 999;
        overflow-y: auto;
        will-change: transform;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-transform: translateX(-105%);
        transform: translateX(-105%);
        h5 {
            font-size: 23px;
            line-height: 30px;
            font-weight: 600;
            text-transform: uppercase;
            margin-bottom: 0;
            cursor: pointer;
        }
        a {
            text-decoration: none;
            color: inherit;
        }
        &--list {
            display: grid;
            grid-template-columns: 1fr;
            row-gap: 20px;
            padding: 20px;
            .subparts {
                display: grid;
                grid-template-rows: auto;
                row-gap: 10px;
                padding-top: 10px;
                padding-left: 20px;
                a:hover,
                a.active {
                    color: var(--hover-color);
                }
            }
        }
        .search {
            background-color: #f4f4f4;
            padding: 20px;
            display: grid;
            grid-template-columns: 1fr 40px;
            grid-template-areas: 
            "div button"
            "input button";
            grid-gap: 10px;
            .input {
                grid-area: input;
            }
            .btn {
                grid-area: button;
            }
        }
    }
}


#filterClose {
    font-size: 30px;
    color: #0a9ad6;
}

/**/

.menu-cart {
    flex-direction: column;
    display: flex;
    transition: right 0.5s ease;
    background-color: $white;
    right: -22rem;
    padding: 0rem 0rem 0rem 0rem;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 22rem;
    z-index: 999999;
}
.menu-cart.expanded,
.cart.expanded {
    right: 0rem;
}
.menu-cart-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding: 0.5rem 1rem 0.5rem 1rem;
    background-color: $white;
}
.menu-cart-list ul:empty::before {
    content: "El pedido esta vacío";
    text-align: center;
    padding: 1em;
    display: block;
}
.menu-cart-list {
    flex: 1;
    background-color: $white;
    overflow: auto;
}
.menu-cart-list::-webkit-scrollbar-track { -webkit-box-shadow: inset 0 0 0 rgba(0,0,0,0.3); background-color: #CCCCCC; }
.menu-cart-list::-webkit-scrollbar { width: 6px; background-color: #CCCCCC; }
.menu-cart-list::-webkit-scrollbar-thumb { -webkit-box-shadow: inset 0 0 0 rgba(0,0,0,.3); background-color: #000; }
.menu-cart-list ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
.menu-cart-list ul:not(:empty) {
    display: grid;
}
.menu-cart-list-item {
    padding: 0rem 1rem 0.8rem 1rem;
    border-bottom: 1px solid #ddd;
}
.menu-cart-list-item p {
    margin: 0;
}
.menu-cart-list-item i.product-images {
    display: none;
}
.menu-cart-footer {
    padding: 1rem;
    border-top: 1px solid #ddd;
    background-color: $white;
}
.menu-cart-footer-text {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.menu-cart-total {
    font-weight: 600;
    font-size: 1.1rem;
}
.menu-cart-price {
    font-weight: 700;
    font-size: 1.1rem;
    color: $colorVentor;
}
.menu-cart-list-item-content {
    display: flex;
    flex-direction: column;
    margin-top: -0.5rem;
    padding-right: 0.5rem;
    font-family: 'Titillium Web', sans-serif;
}
.menu-cart-list-item-content input {
    background-color: transparent;
    border: none;
    outline: none;
    width: 40px;
    background-color: $colorVentor;
    color: $white;
    text-align: center;
}
.menu-cart-list-close {
    position: relative;
    color: #000;
    margin: 0.5rem 0rem 0rem 0rem;
    font-size: 0.9rem;
    display: flex;
    justify-content: flex-end;
}
.menu-cart-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "more stock"
    "clear end";
    grid-gap: 10px;
}
.menu-cart-buttons .btn-block + .btn-block {
    margin-top: 0;
}
.menu-cart-buttons .more {
    grid-area: more;
}
.menu-cart-buttons .stock {
    grid-area: stock;
}
.menu-cart-buttons .end {
    grid-area: end;
}
.menu-cart-buttons .clear {
    grid-area: clear;
}

.menu-cart .btn-ligth {
    background-color: #e9ecef !important;
    border-color: #e9ecef;
}

.menu-cart .btn-primary {
    background-color: $colorVentor !important;
    border-color: $colorVentor;
}
.cart-show-product__price {
    text-align: right;
}
.cart-show-product__stock {
    float: left;
}
.cart-show-product__stock:not(:empty)::before {
    content: "S: ";
}
.product__code,
.cart-show-product__code {
    font-weight: 600;
    color: #595959;
}
.cart-show-product__name {
    font-size: 16px;
}

/**/


/**/
.checkout__container {
    background-color: $white;
    border-radius: .3em;
    padding: 1em;
    + .checkout__container {
        margin-top: 20px;
    }
}
.checkout-data {
    margin-top: 20px;
}

/**/
.checkout {
    &--total {
        font-size: 30px;
    }
    &--float {
        position: fixed;
        width: 100%;
        z-index: 1;
        bottom: 0;
    }
    
    .checkout th .btn {
        border-radius: .5em;
    }
}

.confirm .jumbotron {
    .btn {
        background-color: #45901f !important;
        border-color: #45901f !important;
        color: $white;
        border-radius: .3em;
    }
}

.not-found {
    background-color: $white;
    border-radius: .3em;
    padding: 1em;
    text-align: center;
    margin-bottom: 40px;
    -webkit-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
    img {
        width: 120px;
        display: block;
        margin: auto;
    }
}