// // // // VARIABLES
// Colors
$c-primary: #0099D8;
$c-primary-hover: darken(#0099D8, 5);
$c-primary-light: #ffad26;
$c-secondary: #8f9935;
$c-secondary-hover: darken(#8f9935, 5);
$c-secondary-tint: rgba(143, 153, 53, .1);
$c-secondary-shade: rgba(143, 153, 53, .5);
$c-tertiary: #008fd1;
$c-dark: #3B3B3B;
$c-black: #131313;
$c-dark-hover: darken(#3B3B3B, 10);
$c-gray: #C9CDD0;
$c-text-gray: #707070;
$c-bg-gray: #F7F7FB;
$c-danger: #f16059;
$c-danger-light: rgba(#f16059, .12 );
$c-alert: #d2aa00;
$c-alert-light: rgba(#d2aa00, .12 );
$c-success: #009622;
$c-success-light: #e3fde9;
$c-white: #ffffff;

$c-ventor: #008fd1;
$c-ventor-hover: darken(#008fd1, 5);
$c-disabled: #F4F4F4;
$c-line: #D8ECF1;
$c-shadow: rgba(00,00,00,.5);
$c-shadow-listing: linear-gradient(0deg, rgba(0,0,0,0.4514180672268907) 0%, rgba(0,0,0,0) 65%);
$c-shadow-item: 0 0 5px 0 rgba(0,0,0,.25);
$c-shadow-help: 0 4px 4px 0 rgba(0,0,0,.25);
$c-ventor-trans: #008fd1b3;
$c-black-trans: #131313b3;

// Colors Social Shared
$c-facebook: #3578E5;
$c-google: #d50f25;
$c-twitter: #1da1f2;
$c-whatsapp: #25D366; 
$c-whatsapp-hover: darken(#25D366, 5);


// Utilities
$u-box-shadow: 0 0 size(20) 0 rgba(0,0,0,0.16);
$u-box-shadow-card: 0 0 0.4rem 0 rgba(0,0,0,0.20);
$u-box-shadow-related: 0 0 size(15) 0 rgba(0,0,0,0.16);
$u-box-shadow-menu: 0px 3px 5px #00000026;

// Font Weight
$f-light: 300;
$f-regular: 400;
$f-medium: 500;
$f-semi-bold: 600;
$f-bold: 700;
$f-black: 800;